body {
background: #3533B2;
font-family: 'Lobster', serif;
color: #3CF80B;
margin: 0;
}

header {
background: #00069A;
border-bottom: 4px solid #FF5B00;
text-align: center;
height: 200px;
text-shadow: 4px 4px 4px #5B7853;
display: flex;
justify-content: space-between;
align-items: center;
}

.header-left{
	font-size: xx-large;
}

h1 {
font-size: 100px;
line-height: 200px;
margin: 0;
text-shadow: 4px 4px 4px #307F3D;
}
